body {
  font-family: 'Roboto';
  font-style: normal;
}

.containers {
  max-width: 1200px;
  margin: 0 auto;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 27px;
}

.navigation__item {
  margin-right: 27px;
}

.link {
  color: #000000;
  font-size: 16px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  outline: none;
}

.buttons__measuring {
  font-family: 'Roboto';
  font-style: normal;
  height: 40px;
  width: 169px;
  background-color: #EF7F04;
  border-radius: 3px;
  font-size: 13px;
  color: #FFFFFF;
  padding: 10 15;
  margin-right: 14px;
  border: none;
  outline: none;
}

.buttons__calculation {
  font-family: 'Roboto';
  font-style: normal;
  height: 40px;
  width: 169px;
  background-color: #3B3A63;
  border-radius: 3px;
  font-size: 13px;
  color: #FFFFFF;
  padding: 10 15;
  border: none;
  outline: none;
}

.services {
  background-color: #f2f2f2;
  padding-top: 70px;
}

.services-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-card__item {
  width: 45%;
  border-radius: 3px;
  margin-bottom: 25px;
  padding: 55px 0px 38px 50px;
}

.services-card__item_bg-window {
  background-image: url(../images/services-img/window.png);
  background-size: cover;
}

.services-card__item_bg-loggia {
  background-image: url(../images/services-img/loggia.png);
  background-size: cover;
}

.services-card__item_bg-cottege {
  background-image: url(../images/services-img/cottage.png);
  background-size: cover;
}

.services-card__item_bg-corporation {
  background-image: url(../images/services-img/corparation.png);
  background-size: cover;
}

.services-card__item .card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-card__item .card__header-title {
  width: 211px;
  height: 56px;
  margin-left: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2F2F51;
}

.services-card__item .card__header-title_corporation {
  width: 299px;
  height: 56px;
}

.services-card__item .card__description {
  margin-top: 35px;
  width: 303px;
  height: 75.25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2F2F51;
}

.title-sections {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2F2F51;
  margin-bottom: 40px;
}

.product {
  background-color: #f2f2f2;
  padding-top: 70px;
  margin-bottom: 50px;
}

.product-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 36%;
  margin-bottom: 30px;
}

.product-navigation__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-right: 27px;
}

.product-navigation__item :hover {
  color: #FFFFFF;
  background-color: #EF7F04;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
}

.product-spetifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #FFFFFF;
  margin-bottom: 50px;
}

.product-spetifications__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #EF7F04;
  padding: 76px 0px 45px 37px;
}

.product-spetifications__description {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 0px 180px 45px 37px;
}

.product-spetifications__content {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  padding: 0px 68px 45px 37px;
}

.preview {
  background-image: url(../images/argument/argument-background.png);
  background-size: cover;
  padding-bottom: 65px;
}

.preview-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 69px;
  width: 80%;
  margin: 0 auto;
}

.preview-info .argument-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.preview-info .argument-advantage__item {
  padding-right: 30px;
}

.preview-info .argument-advantage__icon {
  margin-bottom: 30px;
}

.preview-info .argument-advantage__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.preview-info .argument-advantage__description_one {
  width: 176px;
  height: 58px;
}

.preview-info .argument-advantage__description_two {
  width: 165px;
  height: 58px;
}

.preview-info .argument-advantage__description_three {
  width: 157px;
  height: 56px;
}

.preview-info .argument-title {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 100;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.preview-info .argument-title_one {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #EF7F04;
  display: block;
}

.preview .interaction-feedback {
  background: #FFFFFF;
  border-radius: 10px;
  width: 405px;
  text-align: center;
  padding: 43px 40px 65px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.preview .interaction-feedback__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2F2F51;
  margin-bottom: 28px;
}

.preview .interaction-feedback .input__item {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
  height: 40px;
  border-radius: 3px;
  padding-left: 16px;
  background-color: #E2E2E2;
}

.preview .interaction-feedback .input__item_check {
  height: 25px;
  width: 25px;
  margin-left: -10px;
}

.preview .interaction-feedback .input__item::-webkit-input-placeholder {
  color: #424268;
}

.preview .interaction-feedback .input__item:-ms-input-placeholder {
  color: #424268;
}

.preview .interaction-feedback .input__item::-ms-input-placeholder {
  color: #424268;
}

.preview .interaction-feedback .input__item::placeholder {
  color: #424268;
}

.preview .interaction-feedback .input__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

.preview .interaction-feedback .input__checkbox label {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  padding-left: 12px;
}

.preview .interaction-feedback-button {
  padding: 19px 40px;
  background: #EF7F04;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  border: none;
  outline: none;
  margin-top: 30px;
}

.preview .interaction-feedback__images {
  position: absolute;
  top: 370px;
  left: -86px;
}
/*# sourceMappingURL=style.css.map */