body {
    font-family: 'Roboto';
    font-style: normal;
}
.containers {
    max-width: 1200px;
    margin: 0 auto;
}

.header-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    margin-left: 27px;

    &__item {
        margin-right: 27px;
    }
}
.link {
    color: #000000;
    font-size: 16px;
}

.buttons {
    display: flex;
    border: none;
    outline: none;

    &__measuring {
        font-family: 'Roboto';
        font-style: normal;
        height: 40px;
        width: 169px;
        background-color: #EF7F04;
        border-radius: 3px;
        font-size: 13px;
        color: #FFFFFF;
        padding: 10 15;
        margin-right: 14px;
        border: none;
        outline: none;
    }
    &__calculation {
        font-family: 'Roboto';
        font-style: normal;
        height: 40px;
        width: 169px;
        background-color: #3B3A63;
        border-radius: 3px;
        font-size: 13px;
        color: #FFFFFF;
        padding: 10 15;
        border: none;
        outline: none
    }
}

.services {
    background-color: #f2f2f2;
    padding-top: 70px;

    &-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        &__item {
            width: 45%;
            border-radius: 3px;
            margin-bottom: 25px;
            padding: 55px 0px 38px 50px;

            &_bg-window {
                background-image: url(../images/services-img/window.png);
                background-size: cover;
            }
            
            &_bg-loggia {
                background-image: url(../images/services-img/loggia.png);
                background-size: cover;
            }

            &_bg-cottege {
                background-image: url(../images/services-img/cottage.png);
                background-size: cover;
            }

            &_bg-corporation {
                background-image: url(../images/services-img/corparation.png);
                background-size: cover;
            }

        
        .card__header {
            display: flex;
            align-items: center; 
            
            &-title {
                width: 211px;
                height: 56px;
                margin-left: 20px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                color: #2F2F51;
                
                &_corporation {
                    width: 299px;
                    height: 56px;
                }
            }
            } 
        .card__description {
            margin-top: 35px;
            width: 303px;
            height: 75.25px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #2F2F51;
        }       
        }
        
    }
}

.title-sections {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #2F2F51;
    margin-bottom: 40px;

}


.product {
    background-color: #f2f2f2;
    padding-top: 70px;
    margin-bottom: 50px;

    &-navigation {
        display: flex;
        margin-left: 36%;
        margin-bottom: 30px;

        &__item {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            margin-right: 27px;
            

            :hover {
                color: #FFFFFF;
                background-color: #EF7F04;
                padding: 5px 10px 5px 10px;
                border-radius: 3px;            
            }
        }
    }
    &-spetifications {
        display: flex;
        width: 95%;
        margin: 0 auto;
        border-radius: 3px;
        background-color: #FFFFFF;
        margin-bottom: 50px;

        &__title {
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            color: #EF7F04;
            padding: 76px 0px 45px 37px;
        }

        &__description {
            display: block;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            padding: 0px 180px 45px 37px;
        }
        
        &__content {
            display: block;
            font-weight: 700;
            font-size: 18px;
            line-height: 40px;
            padding: 0px 68px 45px 37px;
        }
    }
}    
